// ==========================================================================
// COMPONENTS/_404.SCSS
// ==========================================================================

.error-404 {
  padding-top: 30px;

  .big {
    font-size: 4em;
    padding-bottom: 20px;
  }

  p {
    font-size: 2em;

  }

}
