// ==========================================================================
// COMPONENTS/_CLIENTS.SCSS
// ==========================================================================

.clients-section {
  padding-top: 25px;
  padding-bottom: 30px;
  text-align: center;

  ul {
    li {
      display: inline-block;
      margin-bottom: 5px;

      a {
        text-transform: uppercase;
        padding: 5px;
      }

      &:after {
        content: " / ";
      }
    }

    li:last-child:after {
      content: "";
    }
  }
}
