// ==========================================================================
// COMPONENTS/_GLOBAL.SCSS
// ==========================================================================

body {
  background: #000;
  color: $white;
  padding: 30px 0;
  font-family: $bodyFont;
  font-size: .95em;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}

a {
  color: $white;

  &:hover,
  &:focus {
    color: $red;
  }
}

// Headings
h1, .h1   {
    line-height: 1.2;
}

h2, .h2    {
    line-height: 1.2;
    font-size: 1.75em;
    font-family: $headingFont;
    text-transform: uppercase;
}

h3, .h3   {
    line-height: 1.2;

}

h4, .h4   {

}

h5, .h5 {

}

h6, .h6    {

}

// Basic Lists
ol {
    margin-left: 1.5em;
    line-height: 1.5;
}

ul {
    list-style: none;
    line-height: 1.5;
}

img, video, object {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
}


// Blockquote
blockquote {
    font-style:italic;
    border-left: 1px solid $gray;
    color: $gray;
    padding-left: 20px;
    margin-bottom: 20px;
}

header {
  margin: 20px 0;
  position: relative;

  h1 {
    padding-bottom: 20px;
  }

  nav {
    text-align: right;
    padding-bottom: 5px;

    .menu {
      text-align: center;
      padding-bottom: 20px;

      li {
        display: inline-block;

        a {
          padding: 3px;
          font-size: .7em;
          text-transform: uppercase;
        }
      }
    }
  }

  .site-description {

    h3 {
      font-family: $taglineFont;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: right;
      text-transform: uppercase;
      font-size: 1.25em;
    }
  }
}

#wrapper {
  max-width: 1240px;
  margin: 0 auto;
  // border: 1px solid red;
}

.section-heading {
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.about-section {
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
  clear: both;
}

.services-section {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.follow-us {
  padding-top: 30px;
  padding-bottom: 10px;

  .follow-us-wrapper {
    text-align: center;

    h2 {
      text-align: right;
      display: inline-block;
    }

    ul {
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      padding-bottom: 6px;

      li {
        display: inline-block;
        margin-left: 5px;

        span {
          background: url('../img/sprite.png') -71px -10px;
          width: 32px;
          height: 30px;
          display: inline-block;

          &.facebook {
            background-position: -35px -10px;
          }

          &.instagram {
            background-position: 0 -10px;
          }
        }
      }
    }
  }
}

// event gallery styles
.galleries-section {
  padding-top: 30px;
  padding-bottom: 30px;

  .section-heading {
    padding-bottom: 15px;
  }

  h4 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 1.25em;
  }
}

// clients list styles
.clients-section {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  ul {
    li {
      display: inline-block;
      margin-bottom: 5px;

      a {
        text-transform: uppercase;
        padding: 5px;
      }

      &:after {
        content: " / ";
      }
    }

    li:last-child:after {
      content: "";
    }
  }
}

.contact-page {
  padding-top: 20px;
  padding-bottom: 30px;

  .section-content {

    form {
      padding-top: 40px;
    }
  }
}

.shop-page {
  padding-top: 30px;
  padding-bottom: 30px;

  .section-content {
    min-height: 600px;
  }
}


.gallery {

}


@media screen and (min-width: $breakpoint-small) {
  header {

    nav {
      .menu {
        text-align: center;
        padding-bottom: 20px;

        li {
          display: inline-block;

          a {
            padding: 5px;
            font-size: .85em;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  header {
    nav {
      .menu {
        padding-bottom: 0;
        text-align: right;
      }
    }

    h1 {
      padding-bottom: 0;
    }

    .site-description {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  body {
    padding: 15px;
  }

  header {
    .site-description {
      font-size: 1.2em;
    }
  }

  .contact-page {
    .section-content {
      min-height: 600px;

    }
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  header {
    .site-description {
      font-size: 1.65em;
    }
  }
}
