// ==========================================================================
// COMPONENTS/_HEADER.SCSS
// ==========================================================================

header {
  margin: 20px 0;
  position: relative;

  h1 {
    padding-bottom: 20px;
  }

  nav {
    text-align: right;
    padding-bottom: 5px;

    .menu {
      text-align: center;
      padding-bottom: 20px;

      li {
        display: inline-block;

        a {
          padding: 3px;
          font-size: .7em;
          text-transform: uppercase;
        }
      }
    }
  }

  .site-description {

    h3 {
      font-family: $taglineFont;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: right;
      text-transform: uppercase;
      font-size: 1.25em;
    }
  }
}

@media screen and (min-width: $breakpoint-small) {
  header {
    nav {
      .menu {
        text-align: center;
        padding-bottom: 20px;

        li {
          display: inline-block;

          a {
            padding: 5px;
            font-size: .85em;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  header {
    nav {
      .menu {
        padding-bottom: 0;
        text-align: right;
      }
    }

    h1 {
      padding-bottom: 0;
    }

    .site-description {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  header {
    .site-description {
      font-size: 1.2em;
    }
  }

  .contact-page {
    .section-content {
      min-height: 600px;

    }
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  header {
    .site-description {
      font-size: 1.65em;
    }
  }
}
