// ==========================================================================
// COMPONENTS/_SHOP.SCSS
// ==========================================================================

// woocommerce shop overview

.woocommerce {

  #wrapper {
    .page-description {
      display: none;
    }

    .container-fluid {
      background: $white;
    }
  }

  header {
    background: $black;

    .site-description {
      h3 {
        color: $white;
      }
    }
  }

  p, h1, h2, h3, h4, h5 {
    color: $black;
  }

  .woocommerce-result-count {
    display: none;
  }

  .woocommerce-ordering {
    display: none;
  }

  div.product {
    clear: both;
    border-top: 1px solid #666;
    padding-top: 25px;
    margin-top: -1px;

    .summary {
      h2 {
        display: none;
      }

      p {
        text-align: center;
      }

      .product_title {
        font-family: $taglineFont;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
        font-size: 2.25em;
        text-align: center;
        padding-bottom: 10px;
      }

      .price {
        width: 60%;
        background: $black;
        color: $white;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 2px 0;
      }

      .variations_form {
        .variations {
          margin: 0 auto;
          margin-bottom: 20px;

          tbody {
            tr {
              .label {
                font-size: 1em;
                text-transform: uppercase;
              }

              .value {

                select {
                  text-transform: uppercase;
                  background: #fff;
                  font-size: 1em;
                }
              }
            }
          }
        }

        .single_variation_wrap {
          .quantity {
            display: none !important;
          }
        }
      }

      .thumbnails {
        padding-top: 20px;
      }

      .variations_button {
        text-align: center;

        .single_add_to_cart_button {
          background: $black;
          float: none;

          &:hover,
          &:focus {
            background: $red;
          }
        }
      }

      .in-stock {
        color: $gray !important;
      }

      .product_meta {
        display: none;
      }
    }

    .variations_form {
      .variations {
        .label {
          color: $black;
        }
      }

      .reset_variations {
        display: none !important;
      }
    }
  }

  a.button {
    background: $black !important;
    color: $white !important;

    &:hover,
    &:focus {
      background: $red !important;
    }
  }

  .woocommerce-error {
    border-top-color: $red !important;

    &:before {
      color: $red !important;
    }
  }
}

// show product-thumbnail on mobile
// .woocommerce table.cart .product-thumbnail,
// .woocommerce-page table.cart .product-thumbnail {
//   display: block !important;
// }

// shopping cart styles
.woocommerce table.shop_table td {
  padding: 5px !important;

  dd {
    margin-left: 0 !important;
  }
}

.cart_totals {
  .coupons {
    th.amount {
      text-align: left;
    }
  }
}

.woocommerce table.shop_table {
  font-size: .75em !important;

  .button {
    height: 30px;
  }

  .input-text {
    height: 30px;
  }
}

.woocommerce-cart {

  .woocommerce {
    background: $white;
  }

  .cart-empty,
  .return-to-shop {
    padding: 1em;
  }

  .wc-proceed-to-checkout {
    padding: 1em !important;
  }

  .cart-subtotal {
    th {
      padding-right: 7px !important;
    }
  }

  .shipping {
    th {
      padding-right: 7px !important;
    }
  }

  .shipping-message {
    p {
      text-align: center;
      font-weight: 700;
    }
  }

  .coupon {
    .input-text {
      height: 34px;
      width: 120px;
    }
  }

  table {
    th,
    td {
      color: $black;
    }


    &.cart {
      .product-thumbnail {
        a img {
          width: 100px;
          height: 100px;
        }
      }

      td.actions {
        // .input {
        //   width: 42%;
        // }
      }

      .product-name {
        color: black;

        a {
          color: black;

          &:hover,
          &:focus {
            color: $red;
          }
        }
      }

      .product-price {
        color: black;
      }

      .product-quantity {
        color: black;
      }

      .product-subtotal {
        color: black;
      }
    }
  }
}

.cart_totals {
  padding: 10px;
}

.woocommerce table.cart td.actions .input-text,
.woocommerce table.cart td.actions input {
  width: 38% !important;
}

.woocommerce-checkout {

  .woocommerce {
    background: $white;
    padding: 20px;

    thead,
    td,
    th {
      color: $black;
    }

    #customer_details {
      padding-bottom: 30px;
    }

    input.button.alt {
      background: #000;
      color: #fff;

      &:hover,
      &:focus {
        background: $red;
      }
    }
  }

  .payment_method_paypal {
    label {
      color: #000;
    }

    .about_paypal {
      color: #000;

      &:hover {
        color: $red;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .woocommerce table.cart td.actions .input-text,
  .woocommerce table.cart td.actions input {
    width: 150px !important;
  }

  .woocommerce table.shop_table {
    font-size: .95em !important;
  }
}
