/* ==========================================================================
   BASE/_UTILITY.SCSS
   ========================================================================== */

// Display
.block {
    display: block;
}
.hide {
    display: none;
}
.offscreen {
    display: block;
    left: -999999px;
    position: absolute;
    top: -999999px;
}

// Clearfix
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

// LINES, HRS, BORDERS
.hr {
    border-top: 1px solid $gray;
    display: block;

    // just a test

    border-radius: 2px;

    hr {
        display: none;
    }
}

// RESPONSIVE CHECK
.responsive-check {
    .breakpoint-small,
    .breakpoint-medium,
    .breakpoint-large {
        display: none;
    }
}
@media screen and (min-width: $bp-small) {
    .responsive-check .breakpoint-small {
        display: block;
    }
}
@media screen and (min-width: $bp-med) {
    .responsive-check {
        .breakpoint-small {
            display: none;
        }
        .breakpoint-medium {
            display: block;
        }
    }
}
@media screen and (min-width: $bp-large) {
    .responsive-check {
        .breakpoint-small,
        .breakpoint-medium {
            display: none;
        }
        .breakpoint-large {
            display: block;
        }
    }
}
