/* ==========================================================================
   HELPERS/_VARIABLES.SCSS
   ========================================================================== */

//Colors
$black: #000;
$white: #fff;
$gray: #808080;
$gray-dark: #333;
$red: #FF0000;

$error: #f00;
$valid: #089e00;

// ==========================================================================
// HELPERS/_VARIABLES.SCSS
// ==========================================================================

// Colors

// Typography
$bodyFont: "Arial", Helvetica, sans-serif;
$headingFont: "Arial Black", "Arial Bold", Gadget, sans-serif;
$taglineFont: "Impact", Charcoal, sans-serif;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;
