// ==========================================================================
// MODULES/_FEATURED-SLIDER.SCSS
// ==========================================================================

.featured-slider {
  height: 250px;
  position: relative;
  clear: both;

  .section-content {
    margin: 30px 0;
  }

  .slide-list {

    .slide-item {
      .image {
        background-position: 50% 50%;
        background-repeat: none;
        background-size: cover;
        height: 250px;
        overflow: hidden;
      }

      .info {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .slider-quote {
          display: none;
        }

        .slider-subject {
          span {
            display: none;
          }
        }
      }
    }

    .owl-dots {
      padding-top: 5px;
    }
  }
}

@media screen and (min-width: $breakpoint-small) {
  .featured-slider {
    height: 400px;

    .slide-list .slide-item .image {
      height: 400px;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .featured-slider {
    height: 500px;

    .slide-list .slide-item {
      .image {
        height: 500px;
      }

      .info {
        .slider-quote {
          display: block;

          span {
            font-style: italic;
            padding-right: 10px;
          }
        }

        .slider-subject {
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .featured-slider {
    height: 600px;

    .slide-list {
      .slide-item .image {
        height: 600px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  .featured-slider {
    height: 650px;

    .slide-list {
      .slide-item .image {
        height: 650px;
      }
    }
  }
}
