// ==========================================================================
// MODULES/_FEATURED-SLIDER.SCSS
// ==========================================================================

.featured-slider {
  height: 235px;
  position: relative;
  clear: both;
  padding-left: 0;
  padding-right: 0;

  .section-content {
    margin-bottom: 25px;
    margin-top:30px;
  }

  .slide-list {
    .slide-item {

      .info {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .slider-quote {
          display: none;
        }

        .slider-subject {
          span {
            display: none;
          }
        }
      }
    }

    .slick-dots {
      padding-top: 5px;
    }
  }
}

@media screen and (min-width: $breakpoint-small) {
  .featured-slider {
    height: 325px;

    .slide-list .slide-item .image {
      height: 325px;
    }
  }
}

@media screen and (min-width: 600px) {
  .featured-slider {
    height: 415px;

    .slide-list .slide-item .image {
      height: 415px;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .featured-slider {
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;

    .section-content {
      margin-top: 0;
    }

    .slide-list .slide-item {
      .image {
        height: 500px;
      }

      .info {
        .slider-quote {
          display: block;

          span {
            font-style: italic;
            padding-right: 10px;
          }
        }

        .slider-subject {
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 880px) {
  .featured-slider {
    height: 550px;

    .slide-list {
      .slide-item .image {
        height: 550px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .featured-slider {
    height: 575px;

    .slide-list {
      .slide-item .image {
        height: 575px;
      }
    }
  }
}

@media screen and (min-width: 1096px) {
  .featured-slider {
    height: 600px;

    .slide-list {
      .slide-item .image {
        height: 600px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  .featured-slider {
    height: 615px;

    .slide-list {
      .slide-item .image {
        height: 615px;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .featured-slider {
    height: 675px;

    .slide-list {
      .slide-item .image {
        height: 675px;
      }
    }
  }
}
