/* ========================================================================== MAIN.SCSS ========================================================================== */
/** MervinMfg WordPress Theme Template - http://www.mervin.com Author: brian.behrens@mervin.com - http://www.mervin.com  app.main.css & app.main.min.css are compiled using the imports from this file.  To add new styles and components, import them in the appropriate sections below.  */
/* ========================================================================== HELPERS/_VARIABLES.SCSS ========================================================================== */
/* ========================================================================== HELPERS/_RESET.SCSS ========================================================================== */
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure { margin: 0; padding: 0; }

header, footer, nav, section, article, hgroup, figure { display: block; }

/* ========================================================================== BASE/_LISTS.SCSS ========================================================================== */
ol { margin-left: 1.5em; }

ul { list-style: none; }

dl { overflow: hidden; margin: 0 0 1em; }

dt { font-weight: bold; }

dd { margin-left: 0; }

/* ========================================================================== BASE/_LINKS.SCSS ========================================================================== */
a { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #808080; }

/* ========================================================================== BASE/_MEDIA.SCSS ========================================================================== */
img, video, object { max-width: 100%; height: auto; }

iframe { margin-bottom: 1em; }

figure { margin-bottom: 1em; }
figure img { margin-bottom: 0.25em; }

figcaption { font-style: italic; }

/** Profound Grid  Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts, relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.  The biggest difference to other grid systems is the use of negative margins for column placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts in some browsers.  Nested columns are supported too, without having to reset the grid on each level.  Credits/Inspiration: ------------------- Semantic Grid: http://www.semantic.gs Susy: http://susy.oddbird.net Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/  @author Profound Creative Studio @url http://www.profoundgrid.com @url http://www.weareprofound.com */
/** Clearfix */
/** Legacy Clearfix */
/** Establish the grid-containing element. */
/** Align an element to the grid. */
/** Apply to any column to make it the last one of the current row. */
/* ========================================================================== BASE/_FONTS.SCSS ========================================================================== */
/* ========================================================================== BASE/_UTILITY.SCSS ========================================================================== */
.block { display: block; }

.hide { display: none; }

.offscreen { display: block; left: -999999px; position: absolute; top: -999999px; }

.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clearfix:after { clear: both; }

.hr { border-top: 1px solid #808080; display: block; border-radius: 2px; }
.hr hr { display: none; }

.responsive-check .breakpoint-small, .responsive-check .breakpoint-medium, .responsive-check .breakpoint-large { display: none; }

@media screen and (min-width: 24em) { .responsive-check .breakpoint-small { display: block; } }
@media screen and (min-width: 46.8em) { .responsive-check .breakpoint-small { display: none; }
  .responsive-check .breakpoint-medium { display: block; } }
@media screen and (min-width: 50em) { .responsive-check .breakpoint-small, .responsive-check .breakpoint-medium { display: none; }
  .responsive-check .breakpoint-large { display: block; } }
/* ========================================================================== BASE/_TYPOGRAPHY.SCSS ========================================================================== */
body { font-family: 'Open Sans', sans-serif; font-size: 62.5%; }

h1, .h1 { line-height: 1.2; }

h2, .h2 { line-height: 1.2; }

h3, .h3 { line-height: 1.2; }

.subheading { font-weight: normal; }

p { margin-bottom: 1em; }

blockquote { font-style: italic; border-left: 1px solid #808080; color: #808080; padding-left: 1em; margin-bottom: 1em; }

abbr { border-bottom: 1px dotted #808080; cursor: help; }
